@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
figni-viewer {
  --poster-color: transparent;
  background-color: rgba(241, 242, 247, 1);
}
figni-viewer * {
  font-family: 'Noto Sans JP', sans-serif;
  color: #222428;
}

.figni-viewer-hotspot-parent {
  display: block;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  --min-hotspot-opacity: 0;
  -webkit-tap-highlight-color: transparent;
}

.figni-viewer-hotspot {
  display: block;
  min-width: 1.25rem;
  min-height: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(255, 115, 59, 1);
  font-size: 0.75rem;
  color: white;
  box-shadow: 0 0 0 0.3rem rgba(255, 115, 59, 0.3);
  box-sizing: border-box;
  backdrop-filter: blur(3px);
  position: relative;
  transition: 1s cubic-bezier(0,1,.3,1) all;
}

.figni-viewer-hotspot-parent:active > .figni-viewer-hotspot {
  box-shadow: 0 0 0 0.8rem rgba(255, 115, 59, 0.3);
}

.figni-viewer-hotspot-hide {
  opacity: var(--min-hotspot-opacity);
}

.figni-viewer-panel {
  width: 240px;
  background-color: white;
  border-radius: 0.5rem;
  overflow-y: auto;
  text-align: left;
  position: absolute;
  z-index: 1000;
  font-size: 12px;
}

.figni-viewer-panel > {
  * {
    display: block;
    word-break: break-all;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    font-weight: 700;
    color: #222428;
    margin: 0.5rem;
  }

  p, i {
    color: #787d93;
    margin: 0.5rem;
  }

  a {
    color: #3b5eff;
    margin: 0.5rem;
  }

  img {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  button {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #3b5eff;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-out all;
    font-size: 0.875em;
  }

  button:hover {
    background-color: lighten(#3b5eff, 10%);
  }
}

.figni-viewer-panel-place-left-top {
  top: 0;
  left: 0;
  transform: translateX(-100%) translateY(-100%);
}

.figni-viewer-panel-place-center-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) translateY(-0.75rem);
}

.figni-viewer-panel-place-right-top {
  top: 0;
  right: 0;
  transform: translateX(100%) translateY(-100%);
}

.figni-viewer-panel-place-left-middle {
  top: 50%;
  left: 0;
  transform: translateX(-100%) translateX(-1rem) translateY(-50%);
}

.figni-viewer-panel-place-center-middle {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.figni-viewer-panel-place-right-middle {
  top: 50%;
  right: 0;
  transform: translateX(100%) translateX(1rem) translateY(-50%);
}

.figni-viewer-panel-place-left-bottom {
  bottom: 0;
  left: 0;
  transform: translateX(-100%) translateY(100%);
}

.figni-viewer-panel-place-center-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%) translateY(0.75rem);
}

.figni-viewer-panel-place-right-bottom {
  bottom: 0;
  right: 0;
  transform: translateX(100%) translateY(100%);
}

.figni-viewer-camera-init-btn {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0rem 1rem;
  top: 0.5rem;
  left: 0.5rem;
  white-space: nowrap;
  border-radius: 1.25rem;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #3b5eff;
  z-index: 9999;
  transition: 0.1s cubic-bezier(0,1,.3,1) all;
}
.figni-viewer-camera-init-btn:active {
  box-shadow: 0 0 0 0.3rem rgba(59, 94, 255, 0.3);
}
.figni-viewer-ar-button {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 2.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color: white;
  // border: 1px solid #ff733b;
  border: none;
  border-radius: 1.25rem;
  padding: 0 1rem;
  font-weight: bold;
  z-index: 9998;
  transition: 0.1s cubic-bezier(0,1,.3,1) all;
}
.figni-viewer-ar-button:active {
  box-shadow: 0 0 0 0.3rem rgba(255, 115, 59, 0.1);
}
.figni-viewer-toggle-visible-hotspot-btn {
  position: absolute;
  display: block;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  left: 0.5rem;
  bottom: 0.5rem;
  white-space: nowrap;
  border-radius: 50%;
  border: none;
  background-color: white;
  z-index: 9996;
  transition: 0.1s ease-out all;
  -webkit-tap-highlight-color: transparent;
}
.figni-viewer-toggle-visible-hotspot-btn:active{
  box-shadow: 0 0 0 0.3rem rgba(174, 177, 191, 0.3);
}
.figni-viewer-toggle-visible-hotspot-btn svg {
  width: 1.25rem;
  height: 1.25rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%) translateX(-0.1px)
    translateY(-0.1px);
}
.figni-viewer-ar-button svg {
  width: 1rem;
  margin-top: 0.1rem;
  margin-right: 0.25rem;
}
.figni-viewer-ar-button span {
  display: block;
  color: #ff733b;
}
.figni-viewer-panel-hide {
  opacity: 0;
  display: none;
}
.figni-viewer-download-screenshot-btn {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  left: 0.5rem;
  bottom: 0.5rem;
  white-space: nowrap;
  border-radius: 50%;
  border: none;
  background-color: white;
  z-index: 9997;
  transition: 0.1s ease-out all;
  -webkit-tap-highlight-color: transparent;
}
.figni-viewer-download-screenshot-btn:active {
  box-shadow: 0 0 0 0.3rem rgba(174, 177, 191, 0.3);
}
.figni-viewer-download-screenshot-btn svg {
  width: 1.25rem;
  height: 1.25rem;
  transform: translateX(-0.5px) translateY(-0.5px);
}
.figni-viewer-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
