@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Spartan:wght@700&display=swap');

:root {
  --figni-viewer-primary: #ff733b;
  --figni-viewer-secondary: #3b5eff;
  --figni-viewer-white: #ffffff;
  --figni-viewer-gray-50: #f1f2f7;
  --figni-viewer-gray-100: #e6e8ef;
  --figni-viewer-gray-200: #c1c4cf;
  --figni-viewer-gray-300: #aeb1bf;
  --figni-viewer-gray-500: #787d93;
  --figni-viewer-black: #222428;
  --figni-viewer-error: #ff3f3b;
  --figni-viewer-link: #3b5eff;
  --figni-viewer-button: #3b5eff;
  --figni-viewer-prompt-hand: #ffab3b;
  --figni-viewer-contents-font: 'Noto Sans JP', sans-serif;
  --figni-viewer-ui-font: 'Noto Sans JP', sans-serif;
}

figni-viewer {
  --poster-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--figni-viewer-gray-50);
  overflow: hidden;
}

figni-viewer * {
  font-family: var(--figni-viewer-contents-font);
  color: var(--figni-viewer-black);
}

.figni-viewer-hotspot {
  display: block;
  box-sizing: border-box;
  min-width: 1.25rem;
  min-height: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--figni-viewer-primary);
  font-size: 0.75rem;
  color: white;
  backdrop-filter: blur(3px);
  position: relative;
  --min-hotspot-opacity: 0;
  -webkit-tap-highlight-color: transparent;
}

@keyframes highlight-hotspot {
  0% {
    box-shadow: 0 0 0 0rem var(--figni-viewer-primary);
    opacity: 0.4;
  }
  100% {
    box-shadow: 0 0 0 1rem var(--figni-viewer-primary);
    opacity: 0;
  }
}

.figni-viewer-hotspot::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 0 0 0.4rem var(--figni-viewer-primary);
  opacity: 0.2;
}

.figni-viewer-hotspot-highlight::before {
  transition: 1s cubic-bezier(0, 1, 0.3, 1) all;
  animation: highlight-hotspot 1.5s ease-out 0.1s infinite running;
}

.figni-viewer-hotspot::after {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  cursor: pointer;
  border-radius: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-tap-highlight-color: transparent;
}

.figni-viewer-hotspot-hide {
  opacity: 0;
  pointer-events: none;
}

.figni-viewer-hotspot-no-normal {
  --min-hotspot-opacity: 1;
}

.figni-viewer-panel {
  width: 240px;
  background-color: white;
  border-radius: 0.5rem;
  overflow-y: auto;
  text-align: left;
  position: absolute;
  z-index: 1000;
  font-size: 12px;
}

.figni-viewer-panel > {
  * {
    display: block;
    word-break: break-all;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    font-weight: 700;
    color: var(--figni-viewer-black);
    margin: 0.5rem;
  }

  p,
  i {
    color: var(--figni-viewer-gray-300);
    margin: 0.5rem;
  }

  a {
    color: var(--figni-viewer-link);
    margin: 0.5rem;
  }

  img {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  button {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--figni-viewer-button);
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-out all;
    font-size: 0.875em;
  }
}

.figni-viewer-panel-place-left-top {
  top: 0;
  left: 0;
  transform: translateX(-100%) translateY(-100%);
}

.figni-viewer-panel-place-center-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) translateY(-0.75rem);
}

.figni-viewer-panel-place-right-top {
  top: 0;
  right: 0;
  transform: translateX(100%) translateY(-100%);
}

.figni-viewer-panel-place-left-middle {
  top: 50%;
  left: 0;
  transform: translateX(-100%) translateX(-1rem) translateY(-50%);
}

.figni-viewer-panel-place-center-middle {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.figni-viewer-panel-place-right-middle {
  top: 50%;
  right: 0;
  transform: translateX(100%) translateX(1rem) translateY(-50%);
}

.figni-viewer-panel-place-left-bottom {
  bottom: 0;
  left: 0;
  transform: translateX(-100%) translateY(100%);
}

.figni-viewer-panel-place-center-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%) translateY(0.75rem);
}

.figni-viewer-panel-place-right-bottom {
  bottom: 0;
  right: 0;
  transform: translateX(100%) translateY(100%);
}

.figni-viewer-init-camera-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: var(--figni-viewer-primary);
  z-index: 9995;
  transition: 1s cubic-bezier(0, 1, 0.3, 1) all;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.figni-viewer-init-camera-button svg {
  width: 0.875rem;
  height: 0.875rem;
}

.figni-viewer-ar-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 2.5rem;
  left: 0.5rem;
  bottom: 0.5rem;
  background-color: white;
  border: none;
  border-radius: 2rem;
  padding: 0 1.25rem;
  font-weight: bold;
  z-index: 9998;
  transition: 1s cubic-bezier(0, 1, 0.3, 1) all;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.figni-viewer-ar-button svg {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.3rem;
}

.figni-viewer-ar-button span {
  display: block;
  color: var(--figni-viewer-primary);
  font-size: 12px;
  font-family: var(--figni-viewer-ui-font);
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.figni-viewer-toggle-visible-hotspot-button {
  position: absolute;
  display: block;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  left: 0.5rem;
  bottom: 0.5rem;
  white-space: nowrap;
  border-radius: 50%;
  border: none;
  background-color: white;
  z-index: 9996;
  transition: 1s cubic-bezier(0, 1, 0.3, 1) all;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.figni-viewer-toggle-visible-hotspot-button svg {
  width: 1.25rem;
  height: 1.25rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%) translateX(-0.1px)
    translateY(-0.1px);
}

.figni-viewer-panel-hide {
  opacity: 0;
  display: none;
}

.figni-viewer-download-screenshot-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  left: 0.5rem;
  bottom: 0.5rem;
  white-space: nowrap;
  border-radius: 50%;
  border: none;
  background-color: white;
  z-index: 9997;
  transition: 0.1s ease-out all;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.figni-viewer-download-screenshot-button svg {
  width: 1.1rem;
  height: 1.1rem;
  transform: translateX(-0.5px) translateY(-0.5px);
}

.figni-viewer-loading-panel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--figni-viewer-gray-50);
  box-sizing: border-box;
  z-index: 9999;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.figni-viewer-loading-animation {
  position: relative;
  width: 100%;
  height: 100%;
  .grid path {
    fill: var(--figni-viewer-gray-200);
  }
  .cube path {
    stroke: var(--figni-viewer-gray-200);
  }
  .tap_fb path {
    fill: var(--figni-viewer-gray-500);
  }
  .hand path {
    fill: var(--figni-viewer-gray-300);
  }
  .tap_effect path {
    fill: var(--figni-viewer-gray-300);
  }
}

.figni-viewer-loading-progress-bar {
  position: absolute;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.3rem 1rem;
  background-color: white;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0.3, 1);
}

.figni-viewer-loading-progress-bar::before {
  content: '';
  display: block;
  position: absolute;
  width: 102%;
  height: 102%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    90deg,
    var(--figni-viewer-primary) 0%,
    var(--figni-viewer-primary) var(--figni-viewer-progress, 0%),
    var(--figni-viewer-white) var(--figni-viewer-progress, 0%),
    var(--figni-viewer-white) 100%
  );
  opacity: 0.1;
}

.figni-viewer-loading-animation-ring {
  margin-bottom: 0.1rem;
  margin-right: 0.5rem;
  .ring path {
    stroke: var(--figni-viewer-primary);
  }
}

.figni-viewer-loading-animation-ring svg {
  width: 0.75rem !important;
  height: 0.75rem !important;
}

.figni-viewer-loading-text {
  color: var(--figni-viewer-primary);
  font-family: var(--figni-viewer-ui-font);
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 2px;
}

@keyframes animation-text-blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.figni-viewer-error-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--figni-viewer-gray-50);
  box-sizing: border-box;
  z-index: 9999;
  transition: opacity 0.3s ease-out;
}

.figni-viewer-error-icon {
  width: 40px;
  height: 46.6px;
  margin-bottom: 0.75rem;
}

.figni-viewer-error-icon-svg {
  fill: var(--figni-viewer-error);
}

.figni-viewer-error-text {
  color: var(--figni-viewer-error);
  font-family: var(--figni-viewer-ui-font);
  font-size: 0.75rem;
}

.figni-viewer-error-reload-button {
  cursor: pointer;
  text-decoration: underline;
  color: var(--figni-viewer-link);
  font-size: 0.5rem;
}

.figni-viewer-interaction-cursor {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--figni-viewer-gray-500);
  pointer-events: none;
  mix-blend-mode: difference;
  transition: opacity 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}

.figni-viewer-interaction-prompt {
  width: 5rem;
  circle.d {
    fill: var(--figni-viewer-gray-500);
  }
  path.e {
    fill: var(--figni-viewer-prompt-hand);
  }
}

.figni-viewer-qrcode-panel-base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.figni-viewer-qrcode-panel-bg {
  width: 100%;
  height: 100%;
  background-color: var(--figni-viewer-gray-300);
  opacity: 0.5;
}

.figni-viewer-qrcode-panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  padding-bottom: 1rem;
  width: 200px;
  height: 200px;
  z-index: 9999;
  background-color: var(--figni-viewer-white);
}

.figni-viewer-qrcode-panel > span {
  font-family: var(--figni-viewer-ui-font);
  font-size: 12px;
  font-weight: 700;
  color: var(--figni-viewer-primary);
  text-align: center;
}

.figni-viewer-qrcode-panel > svg {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}

.figni-viewer-help-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 1.5rem;
  right: 0.5rem;
  padding: 0 0.5rem;
  top: 0.5rem;
  background-color: var(--figni-viewer-secondary);
  border: none;
  border-radius: 1.25rem;
  font-weight: bold;
  z-index: 9998;
  transition: 1s cubic-bezier(0, 1, 0.3, 1) all;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.figni-viewer-help-button svg {
  width: 1.25rem;
}

.figni-viewer-help-button span {
  display: block;
  color: var(--figni-viewer-white);
  font-size: 12px;
  font-family: var(--figni-viewer-ui-font);
  font-weight: bold;
}

.figni-viewer-help-panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  right: 0;
  padding: 1rem;
  width: 30%;
  height: 100%;
  z-index: 9999;
  background-color: var(--figni-viewer-white);
  transition: 1s cubic-bezier(0, 1, 0.3, 1) all;
}

.figni-viewer-help-panel-hidden {
  transform: translateX(100%);
}
