@use "sass:math";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Spartan:wght@700&display=swap";

figni-viewer {
  display: flex;
  height: 480px;
  min-height: 320px;
  overflow: hidden;
  font-size: 16px !important;
  background-color: var(--figni-viewer-background);

  * {
    font-family: var(--figni-viewer-font);
    font-size: 1em;
    color: var(--figni-viewer-text);
  }

  figni-viewer-base {
    flex: 1;
    flex-direction: column;
    width: 0;
    min-width: 1px;
    height: 100%;
    min-height: 1px;
  }

  --poster-color: transparent;
  --figni-viewer-primary: #ff733b;
  --figni-viewer-secondary: #3b5eff;
  --figni-viewer-prompt-hand: #ffce3b;
  --figni-viewer-error: #ff3f3b;
  --figni-viewer-text: #222428;
  --figni-viewer-background: #f6f6f6;
  --figni-viewer-font: "Noto Sans JP", sans-serif;
}

figni-viewer-base:not(style[outline="none"]) {
  outline: none !important;
}

figni-viewer-base::part(default-progress-bar) {
  display: none;
}

figni-viewer-base::part(default-ar-button) {
  display: none;
}
